@model FreelancerMarketPlace1.Models.Model.HomeFeatureItem

<section class="section feature">
    <div class="container">
        <div class="row">
            <!-- Feature Item -->
            <div class="col-xl-3 col-md-6">
                <div class="feature-item freelance-count aos" data-aos="fade-up">
                    <div class="feature-icon">
                        <img src="~/template-html/assets/img/icon/icon-01.png" class="img-fluid" alt="">
                    </div>
                    <div class="feature-content course-count">
                        <h3 class="counter-up">@ViewBag.V1</h3>
                        <p>Freelancerlar</p>
                    </div>
                </div>
            </div>
            <!-- /Feature Item -->
            <!-- Feature Item -->
            <div class="col-xl-3 col-md-6">
                <div class="feature-item aos" data-aos="fade-up">
                    <div class="feature-icon">
                        <img src="~/template-html/assets/img/icon/icon-02.png" class="img-fluid" alt="">
                    </div>
                    <div class="feature-content course-count">
                        <h3><span class="counter-up">@ViewBag.V2 </span><span>+</span></h3>
                        <p>İş İlanları</p>
                    </div>
                </div>
            </div>
            <!-- /Feature Item -->
            <!-- Feature Item -->
            <div class="col-xl-3 col-md-6">
                <div class="feature-item comp-project aos" data-aos="fade-up">
                    <div class="feature-icon">
                        <img src="~/template-html/assets/img/icon/icon-03.png" class="img-fluid" alt="">
                    </div>
                    <div class="feature-content course-count">
                        <h3 class="counter-up">@ViewBag.V3</h3>
                        <p>Tamamlanan İşler</p>
                    </div>
                </div>
            </div>
            <!-- /Feature Item -->
            <!-- Feature Item -->
            <div class="col-xl-3 col-md-6">
                <div class="feature-item comp-project aos" data-aos="fade-up">
                    <div class="feature-icon">
                        <img src="~/template-html/assets/img/icon/icon-03.png" class="img-fluid" alt="">
                    </div>
                    <div class="feature-content course-count">
                        <h3 class="counter-up">@ViewBag.V4</h3>
                        <p>Kayıtlı Şirketler</p>
                    </div>
                </div>
            </div>
            <!-- /Feature Item -->
        </div>
    </div>
</section>