
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_UserLayout.cshtml";
}

<style>
    body {
        font-family: 'Arial', sans-serif;
        line-height: 1.6;
        margin: 20px;
    }

    p {
        text-align: justify;
    }
</style>

<!-- About -->
<section class="section about">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-6 d-flex align-items-center">
                <div class="about-content">
                    <h2><span class="orange-text">KofeJob</span> Hakkında</h2>
                    <p>
                        KofeJob, serbest çalışanları ve iş verenleri buluşturan bir platform olarak 2023 yılında kuruldu. Hedefimiz, insanların ihtiyaçlarına hızlı ve güvenilir bir şekilde çözüm sunmak. Misyonumuz, insanların günlük yaşamlarını kolaylaştırmak ve daha iyi bir yaşam kalitesi sağlamak için ihtiyaçlarına uygun profesyonellere kolayca erişmelerini sağlamaktır.
                    </p>
                    <br />
                    <p>
                        KofeJob, öğretmenlerden ev temizliği hizmeti sağlayanlara, tadilat uzmanlarından özel ders verenlere, yazılım geliştiricilere kadar farklı alanlardaki profesyonelleri bir araya getiren güvenilir bir buluşma noktasıdır.
                    </p>
                    <br />
                    <p>
                        Müşteri memnuniyeti, platformumuzun temel odak noktalarından biridir. Kullanıcılarımız, ihtiyaçlarına uygun en iyi hizmeti bulabilmeleri için kapsamlı bir profesyonel ağına erişebilirler. Aynı şekilde, hizmet sağlayıcılar da platformumuz aracılığıyla daha fazla müşteriye ulaşabilirler.
                    </p>
                    <br />
                    <p>
                        Dürüstlük, şeffaflık ve güvenilirlik ilkelerine bağlı olarak çalışan bir ekip olarak, KofeJob olarak toplumumuzdaki insanların ihtiyaçlarını karşılamaktan gurur duyuyoruz. Siz de KofeJob ailesine katılarak ihtiyaçlarınızı karşılamak veya becerilerinizi paylaşmak isterseniz, bizimle iletişime geçmekten çekinmeyin. Herkes, KofeJob için çok değerlidir ve size en iyi hizmeti sunmamıza yardımcı olabilir.
                    </p>
                    <br />
                    <p>
                        Bizi tercih ettiğiniz için teşekkür ederiz. İhtiyaçlarınıza hızlı ve güvenilir bir çözüm bulmak için buradayız.
                    </p>
                </div>
            </div>
            <div class="offset-lg-1 col-lg-5">
                <div class="about-img">
                    <img class="img-fluid" src="~/template-html/assets/img/HomeAbout.png" alt="Post Image">
                </div>
            </div>
        </div>
    </div>
</section>
<!-- /About -->
<!-- Counter -->
<section class="section job-counter">
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <div class="counter">
                    <h2>800+</h2>
                    <h4>Jobs Posted</h4>
                </div>
            </div>
            <div class="col-md-3">
                <div class="counter">
                    <h2>80+</h2>
                    <h4>Companies</h4>
                </div>
            </div>
            <div class="col-md-3">
                <div class="counter">
                    <h2>900+</h2>
                    <h4> Developers</h4>
                </div>
            </div>
            <div class="col-md-3">
                <div class="counter">
                    <h2>90+</h2>
                    <h4>Development Services</h4>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Review -->
<!-- / Review -->
<!-- Agency -->
<!-- / Agency -->
<!-- Experts -->
<section class="section expert">
    <div class="container">
        <div class="row">
            <div class="col-md-8 mx-auto">
                <h5>Başlangıçtan İtibaren</h5>
                <h2>Online is başvurusu yapmanın faydaları nelerdir?</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Volutpat orci enim, mattis nibh aliquam dui, nibh faucibus aenean.Lorem ipsum dolor sit amet, consectetur adipiscing elit. Volutpat, mattis nibh aliquam dui, nibh faucibus aenean.</p>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Volutpat orci enim, mattis nibh aliquam dui, nibh faucibus aenean.</p>

            </div>
        </div>
    </div>
</section>
<!-- /Experts -->
