@model FreelancerMarketPlace1.Models.Model.HomeFindJob
<!-- Company Hire -->
<section class="section top-company">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="section-header text-center aos" data-aos="fade-up">
                    <h6>En Çok Aranan Şirketler</h6>
                </div>
            </div>
        </div>
        <div id="company-slider" class="owl-carousel owl-theme testimonial-slider aos" data-aos="fade-up">
            <div class="company-logos">
                <img src="~/template-html/assets/img/company-logo-01.svg" alt="">
            </div>
            <div class="company-logos">
                <img src="~/template-html/assets/img/company-logo-02.svg" alt="">
            </div>
            <div class="company-logos">
                <img src="~/template-html/assets/img/company-logo-03.svg" alt="">
            </div>
            <div class="company-logos">
                <img src="~/template-html/assets/img/company-logo-04.svg" alt="">
            </div>
            <div class="company-logos">
                <img src="~/template-html/assets/img/company-logo-05.svg" alt="">
            </div>
            <div class="company-logos">
                <img src="~/template-html/assets/img/company-logo-06.svg" alt="">
            </div>
            <div class="company-logos">
                <img src="~/template-html/assets/img/company-logo-03.svg" alt="">
            </div>
            <div class="company-logos">
                <img src="~/template-html/assets/img/company-logo-02.svg" alt="">
            </div>
        </div>
    </div>
</section>
<!-- / Company Hire -->
<!-- News -->
<!-- / News -->
<!-- News -->
<section class="section job-register">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="register-job-blk">
                    <div class="job-content-blk aos" data-aos="fade-up">
                        <h1>Hemen kayıt ol ve harika işleri keşfetmeye başla.</h1>
                    </div>
                    <div class="see-all mt-0 aos" data-aos="fade-up">
                        <a href="/Account/SignUp" class="btn all-btn">Şimdi Kayıt Ol</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
