@model BagdetListViewModel
@{
    ViewData["Title"] = "AddBagdet";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}


 
        <form method="post" class="mb-10" enctype="multipart/form-data">
            

            <div class="row">
                <h4 class="text-bold">İş Kolu Ekleme Sayfası</h4>
                <div class="col-md-12 mt-2">


                    <div class="form-group row">
                        <label class="col-form-label col-md-2">İş Kolu Adı</label>
                        <div class="col-md-10">
                            <input type="text" asp-for="Bagdet.BagdetName" class="form-control">
                        </div>
                    </div>


                    <div class="form-group row">
                        <label class="col-form-label col-md-2">Fotoğraf Düzenle</label>
                        <div class="col-md-10">
                            <input type="file" class="form-control" asp-for="FileImage">
                        </div>
                    </div>
                </div>
                
            </div>


            <br />
            <button type="submit" class="btn btn-primary">İş Kolunu Ekle</button>
            <br />
        </form>



